.header__appbar {
  background-color: black !important;

  &__toolbar {
    justify-content: space-between;
    flex-direction: row;
    align-content: center;

    img {
      width: 35px;
      height: 35px;
    }

    &__link {
      a {
        color: white;
        text-decoration: none;
        margin-right: 40px;
      }
    }

    &__layout {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      svg {
        width: 38px;
        padding-right: 15px;
      }

      a {
        color: white;
        text-decoration: none;
      }

      &__login {
        display: flex;
        align-items: center;

        a {
          margin-right: 15px;
        }
      }
    }


  }
}