.categories {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      list-style-type: none;
      margin-right: 1.5vw;
      cursor: pointer;

    &.active {
        border-bottom: 1px white solid;
      }
    }
  }
}