.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  position: relative;
  left: 25%;
  margin-top: 5em;
  width: 55%;

  .cardInfo__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 26px;
    margin-bottom: 15px;
  }

  .cardInfo__main__title {
    margin-bottom: 25px;
  }

  .cardInfo__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: inherit;
    height: 34em;
    
    &__textInfo li {
      list-style-type: none;
      margin-top: 5px;
      color: rgb(124, 124, 124);
    }
  }
}
