.cartItemBlock {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5vh;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  
  img {
    width: 80px;
  }

  .cartInfo {
    display: flex;
    align-items: center;
    width: 25em;
  }

  // hr {
  //   width: 35%;
  //   border-bottom-style: dashed;
  //   position: relative;
  //   top: 5px;
  // }

  .numberBlock {
    display: flex;
    img {
      width: 20px;
      cursor: pointer;
      margin: 10px;
    }
  }

  p {
    margin-left: 8px;
  }

  .blockCloseIcon {
    display: flex ;

    .closeIcon {
      width: 18px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}